/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor */
.contenedor {
  position: relative; 
  width: 100%;
  height: 500px;
  border: 5px solid #000;
  padding: 20px;
  background-color: #f3f3f3;    
}

/* Elemento 1: posición estática (default) */
.elemento1 {
  background-color: #FFCC00;
  padding: 20px;
  margin-bottom: 20px;
}

/* Elemento 2: posición relativa */
.elemento2 {
  position: relative; 
  top: 30px; 
  left: 50px; 
  background-color: #00FF00;
  padding:20px;
}

/* Elemento 3: posición absoluta */
.elemento3 {
  position: absolute; 
  top: 50px;
  right: 250px;
  background-color: #00CCFF;
  padding: 20px;
}

/* Elemento 4: posición fija */
.elemento4 {
  position: fixed; 
  bottom: 20px; 
  right: 20px;
  background-color: #FF0066;
  padding: 20px;
}
