/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor */
.contenedor {
  position: relative; /* Contenedor con posición relativa para que los elementos posicionados absolutamente se ubiquen dentro de él */
  width: 100%;
  height: 500px;
  border: 5px solid #000;
  padding: 20px;
  background-color: #f3f3f3;    
}

/* Elemento 1: posición estática (default) */
.elemento1 {
  background-color: #FFCC00;
  padding: 20px;
  margin-bottom: 20px;
}

/* Elemento 2: posición relativa */
.elemento2 {
  position: ; /* El elemento se mueve en relación a su posición original. */
  __________ /* Mueve el elemento 30px hacia abajo desde su ubicación inicial. */
  __________/* Mueve el elemento 50px hacia la derecha desde su ubicación inicial. */
  background-color: #00FF00;
  padding: 20px;
}

/* Elemento 3: posición absoluta */
.elemento3 {
  position: absolute; 
  ___________/* Mueve el elemento 50px hacia abajo desde el borde superior del contenedor. */
  _________ /* Mueve el elemento 250px hacia la derecha desde el borde izquierdo del contenedor. */
  background-color: #00CCFF;
  padding: 20px;
}

/* Elemento 4: posición fija */
.elemento4 {
  position: ____ /* El elemento se fija en la pantalla y no se mueve al hacer scroll. */
  _____________/* El elemento se coloca a 20px desde la parte inferior de la ventana del navegador. */
  ____________/* El elemento se coloca a 20px desde la parte derecha de la ventana del navegador. */
  background-color: #FF0066;
  padding: 20px;
}
